/* Site Colors - References: 
  https://www.w3schools.com/css/css3_variables.asp 
  https://blog.logrocket.com/a-guide-to-theming-in-css/
*/
:root {
  --font-color: #3a1055;
  --nav-color: #6b9f7a;;
  --bg-color: #d7edd8;
  --font2-color: #527d5e;
  --highlight-color: #c0d3c1;
  --emphasis-color: #82667F;
}

[data-theme="parent"] {
  --font-color: #473144;
  --nav-color: #602234;
  --bg-color: #e3ded0;
  --font2-color: #948e7c;
  --highlight-color: #c9c5b8;
  --emphasis-color: #8a3c4f;
}

/* Overall styling */
body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
  height: 100%;
}

.margin {
  margin: 1.5rem;
  margin-top: 2rem;
}

.margin-top {
  margin-top: 5rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.center {
  text-align: center;
}

main {
  margin: 3rem;
}

/* Navigation styling - Reference: https://www.w3schools.com/howto/howto_css_bottom_nav.asp */
.navbar, .header {
  background-color: var(--nav-color);
  overflow: hidden;
  height: 3rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  
}

.navbar {
  bottom: 0;
}

.header{
  top: 0;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--emphasis-color);
  color: var(--bg-color);
}

.header .title {
  float: left;
  text-align: center;
  padding: 1rem;
}

#userBtn{
  float: left;
  padding-top: 0.5rem;
}

/* Style other links */
a {
  color: var(--font-color);
  /* text-decoration: none; */
}

.link{
  color: darkred;
}

.link:hover {
  color: red;
}

/* Add chore styling */
.errorMsg{
  background-color: #ffffff;
  display: inline-block;
  padding: 1rem;
  border:1px solid rgb(189, 25, 25);
  border-radius:5px;
}

textarea {
  white-space: pre-wrap;
}

/* Icon styling */
.icon {
  height: 2rem;
}

.small-icon{
  height: 1rem;
}

/* Pin font styling */
.pin {
  font-size: 150%;
  /* background-color: var(--emphasis-color) */
}

/* PURE - Taken from: 
  https://purecss.io/layouts/email/, 
  https://github.com/pure-css/pure/blob/master/site/static/layouts/email/styles.css
*/

/* Chore Item Styles */
.chore-item {
  padding: 0.9em 1em;
  border-bottom: 1px solid var(--emphasis-color);
  border-left: 6px solid transparent;
}
.chore-item:hover{
  background-color: var(--highlight-color);
}
.chore-name {
  text-transform: uppercase;
  color: var(--font-color);
  margin: 0;
}
.chore-priority {
  font-size: 80%;
  margin: 0.4em 0;
}
.chore-due{
  color: var(--font2-color);
  margin: 0;
}
.chore-content-header {
  padding: 1em 2em;
  margin-top: 3rem;
  border-bottom: 1px solid var(--emphasis-color)
}
.chore-content-title {
  text-transform: capitalize;
  margin: 0.5em 0 0;
}
.chore-content-subtitle {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}
.chore-content-subtitle span {
  color: var(--font2-color);
}

/* Home page layout styling */
#layout{
  padding-bottom: 3rem;
  padding-top: 3rem;
  height: calc(100vh - 6rem); 
}

#main{
  overflow-y: scroll;
  height: 0%;
}

#list {
  height: 100%;
  overflow-y: scroll; 
  top: 0;
  bottom: 0;
}

#space {
  padding: 1px;
  height: 100%;
  overflow-y: scroll; 
  border-right: 1px solid var(--emphasis-color);
}

/* Reference: https://purecss.io/grids/ */
@media screen and (min-width: 48em){
  #list {
    height: 100%;
  }
  #main{
    overflow-y: scroll;
    height: 100%;
  }
  .chore-content-header, .chore-content-body, .chore-content-footer {
    margin-top: 0;
  }
}


/* Form Styling */
/* Taken from: https://codepen.io/atakan/pen/nPOZZR */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	font-family: montserrat, arial, verdana;
}

.form {
  max-width: 600px;
	margin: 50px auto;
	text-align: center;
}

.form fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px var(--emphasis-color);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
}

.form input, .form textarea, .form select, .imgField {
	padding: 15px;
	border: 1px solid var(--emphasis-color);
	border-radius: 3px;
	margin-bottom: 1rem;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
  color:  var(--font-color);
}

.imgField {
  display: block;
}

.filter {
  width: fit-content;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

select.filter {
  padding: 7px;
	border: 1px solid var(--emphasis-color);
	border-radius: 3px;
  font-family: montserrat;
  color:  var(--font-color);
}

button.filter{
  background-color: var(--emphasis-color);
  font-family: montserrat;
  margin-top: 12px;
}

/* .form div {
  font-family: montserrat;
  border-radius: 3px;
  padding: 15px;
} */

.form label, .form button {
  padding: 15px;
  margin-bottom: 1rem;
  width: 100%;
	font-family: montserrat;
}

.form button {
  color: white;
  background-color: var(--emphasis-color);
}

.form-title {
	font-size: 15px;
	text-transform: uppercase;
  color: var(--emphasis-color);
	margin-bottom: 1.5rem;
}
.form-subtitle {
	font-weight: normal;
	color: var(--font2-color);
	margin-bottom: 20px;
}